.discover_northfinder_element .swiper {
  position: relative;
}

.discover_northfinder_element .swiper .slide_content {
  overflow: hidden;
  position: relative;
}

.discover_northfinder_element .swiper .swiper-button-next {
  position: absolute;
  right: 2rem !important;
}

.discover_northfinder_element .swiper .swiper-button-prev {
  position: absolute;
  left: 2rem !important;
}

.discover_northfinder_element .swiper .swiper-scrollbar {
  max-width: 100% !important;
  left: 0 !important;
  margin: 2.25rem 0 0 0 !important;
  width: 100%;
}

.discover_northfinder_element .swiper-slide {
  position: relative;
  width: auto;
  height: auto;
}
