/* Common styles for both modes */
.feature_products_element {
  position: relative;
}

/* Slider mode styles */
.feature_products_element .swiper {
  position: relative;
}

.feature_products_element .swiper .slide_content {
  overflow: hidden;
  position: relative;
}

.feature_products_element .swiper .swiper-button-next {
  position: absolute;
  right: 2rem !important;
}

.feature_products_element .swiper .swiper-button-prev {
  position: absolute;
  left: 2rem !important;
}

.feature_products_element .swiper-slide {
  position: relative;
  width: auto;
  height: auto;
}

/* Grid mode styles */
.feature_products_element .feature-products-grid {
  margin-bottom: 2rem;
}