.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 2rem;
  line-height: 1.2;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 2.5rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
}

ol {
  list-style-type: decimal;
}
table:not([class]),
p {
  font-size: 1rem;
}

.rte {
  color: #0f0f0f;
}

.rte a {
  color: black;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.0625rem;
  transition: text-decoration-thickness var(--duration-short) ease;
}

.rte a:hover {
  color: black;
  text-decoration-thickness: 0.1rem;
}
.rte li p {
  display: inline;
}

table:not([class]) {
  box-shadow: none;
}

table:not([class]) td,
table:not([class]) th {
  border: 0;
}

table:not([class]) tr {
  border-bottom: 1px solid #eaeaea;
}
