.related_articles .swiper-wrapper {
  margin-bottom: 1.5rem;
}

.related_articles .swiper-scrollbar {
  height: 4px;
  background-color: rgba(var(--color-foreground), 0.04);
  border-radius: 4px;
}

.related_articles .swiper-scrollbar-drag {
  background-color: rgba(var(--color-foreground), 0.3);
  border-radius: 4px;
}

@media screen and (min-width: 750px) {
  .related_articles .swiper-wrapper {
    margin-bottom: 2rem;
  }
}
